.ipynb_checkpoints
covid_data.csv
data1.csv
insurance.csv
Introduction To Statistics.ppt
list_file.csv
new_data.csv
Salary Data.csv
simplelinearregression-210808033114.pdf
stirng_file.csv
tableau analysis.twb
05.KNN.pdf
bbc-text.csv
cleaned_bbc_data.csv
cleaned_twitter_data.csv
Decision Tree.pptx
diabetes (1).csv
diabetes2.csv
Position_Salaries.csv
Twitter_Data.csv
twitter_training.csv
twitter_validation.csv
news.txt
requirement.txt