.ipynb_checkpoints
covid_data.csv
data1.csv
insurance.csv
Introduction To Statistics.ppt
list_file.csv
new_data.csv
Salary Data.csv
simplelinearregression-210808033114.pdf
stirng_file.csv
tableau analysis.twb